@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Couleurs principales */
  --primary: #49AAFF;
  --secondary: #8DD1FF;
  --tertiary: #ffb71c;

  /* Couleurs sombres pour effet 3D */
  --primary-dark: #2a7ac7;
  --secondary-dark: #5ba8d9;

  /* Mode clair */
  --background: #EDEBE5;
  --card: #F4F2EF;
  --foreground: #11181C;
  --border: #ddd;
  --notification: #ff3b30;

  --primary-accent: #3a8fd9;
  --foreground-accent: #454545;
  --hero-background: #F4F2EF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151718;
    --card: #151718;
    --foreground: #FFFFFF;
    --border: #333;
    --notification: #ff453a;
  }
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, h5, h6, p, span, a, li, button, input, textarea, label {
  font-family: inherit;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}